<%- include('header') %>
    
    <div>
        <h2><%- vaga.titulo %></h2>
    </div>
    <div>
        <h3><%- vaga.descricao %></h3>
    </div>
    <a href="/home"><< Voltar</a>
    
<%- include('footer')  %>